/* Trong file CSS hoặc JSX của bạn */
.sale-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    animation: pulse 1s infinite;
  }
  